<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <!-- Total Sales Section -->
      <section class="section">
        <h2>Total Sales</h2>
        <div class="sales-info">
          <div class="today">
            Today :<% if (todaySales.length>0) { %> <%=
            todaySales[0].SalesQuantity %> <% } else{ %> <% 0 }%> Revenue :<% if
            (todaySales.length>0) { %> <%= todaySales[0].totalAmount %> <% }
            else{ %> <% 0 }%>
          </div>
          <div class="this-month">
            This Month:<% if (monthlySales.length > 0){ %> <%=
            monthlySales[0].SalesQuantity %> <% } else { %> <% 0} %> Revenue :<%
            if (monthlySales.length>0) { %> <%= monthlySales[0].totalAmount %>
            <% } else{ %> <% 0 }%>
          </div>
          <button class="next-month-btn">Expected Sales Next Month</button>
          <a href="/dashboard/sales/new"
            ><button class="next-month-btn">Add Sale Record</button></a
          >
        </div>
      </section>

      <!-- Product Information Section -->
      <section class="section">
        <h2>Product Information</h2>
        <div class="product-info">
          <div class="product-count">
            Number of Products: <%= productCount %>
          </div>
          <div class="recent-product">
            Recent Product: <%= recentProduct.name %>
          </div>
          <div class="recent-sale">
            Recent Sale: <% if (recentSale) { %>
            <ul>
              <li>Date: <%= recentSale.date.toDateString() %></li>
              <li>
                Product Id: <% const product = products.find(prod =>
                prod._id.toString() === recentSale.productID.toString()); %> <%=
                product ? product.customID : 'N/A' %>
              </li>
              <li>Sales: <%= recentSale.sales %></li>
              <li>Price: <%= recentSale.price %></li>
              <li>Competitor Price: <%= recentSale.competitorPrice %></li>
            </ul>
            <% } else { %> No recent sale found. <% } %>
          </div>
          <div class="add-product">
            <a href="/dashboard/product/new"
              ><button class="next-month-btn">Add Product</button></a
            >
          </div>
        </div>
      </section>

      <!-- Reports Section -->
      <section class="section">
        <h2>Reports</h2>
        <div class="report-buttons">
          <button class="report-btn">Prediction 1</button>
          <button class="report-btn">Prediction 2</button>
          <button class="report-btn">Prediction 3</button>
        </div>
      </section>
    </div>
  </body>
</html>
