<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Sales Record</title>
  </head>
  <body>
    <h1>Sales Record Details</h1>
    <div>
      <p>
        <strong>Date:</strong> <%= new Date(record.date).toLocaleDateString() %>
      </p>
      <p>
        <strong>Product ID:</strong>
        <% const product = products.find(prod => prod._id.toString() ===
        record.productID.toString()); %> <%= product ? product.customID : 'N/A'
        %>
      </p>
      <p><strong>Sales:</strong> <%= record.sales %></p>
      <p><strong>Price:</strong> <%= record.price %></p>
      <p><strong>Competitor Price:</strong> <%= record.competitorPrice %></p>
    </div>
    <div>
      <a href="/dashboard/sales/edit/<%= record._id %>">Edit</a>
      <form
        action="/dashboard/sales/delete/<%= record._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit">Delete</button>
      </form>
    </div>
  </body>
</html>
